In [1]:
x=3
y=2
x>y

True

In [2]:
x == y

False

In [3]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

In [6]:
samsung = 80001
if samsung > 80000:
    print("매도")
elif 70000<= samsung <= 80000:
    print("대기")
else:
    print("매수")

매도

In [9]:
pocket = ['paper', 'cellphone']

card = True

if 'money' in pocket:
    print("택시를 타고 가라1")
else:
    if card:
        print("택시를 타고 가라2")
    else:
        print('걸어 가라')

택시를 타고 가라2

In [11]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라1")
elif card:
    print("택시를 타고 가라2")
else:
    print("걸어 가라")

택시를 타고 가라2

In [12]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다" %treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다

In [18]:
a = 0
while a < 10:
    a = a+1
    if a%2 == 0: continue
    print(a)

1
3
5
7
9

In [19]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [20]:
a = range(10)
a

range(0, 10)

In [26]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ") # end = 끝 문자 지정하기
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [40]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [45]:
a = [1,2,3,4]
result = []
for num in a:
    result += ([num*3])
print(result)

[3, 6, 9, 12]

In [46]:
a = [1,2,3,4]
result = []
for num in a:
    result.extend ([num*3])
print(result)

[3, 6, 9, 12]

In [48]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [53]:
def add(a,b):
    return a+b

In [54]:
a = 3
b = 4
c = add(a,b)
print(c)

7

In [59]:
def say():
    return 'Hi'
a = say()
print(a)

Hi

In [62]:
def say():
    return 'Hi'
a = say() + " Kim"
print(a)

Hi Kim

In [61]:
def say():
    return 'Hi'
a = say()
print(a+" Kim")

Hi Kim

In [63]:
def add(a,b):
    return a+b
result = add(a=3,b=7)  #순서 상관없이 쓸 수 있는 장점이 있다.
print(result)

10

In [64]:
result = add(b=5, a=3)
print(result)

8

In [65]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다" %name)
    print("나이는 %d살입니다" %old)
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

In [71]:
a = say_myself("김용범", 26)

나의 이름은 김용범입니다
나이는 26살입니다
남자입니다

In [69]:
a = say_myself("김용범", 26, True)

나의 이름은 김용범입니다
나이는 26살입니다
남자입니다

In [70]:
a = say_myself("김용범", 26, False)

나의 이름은 김용범입니다
나이는 26살입니다
여자입니다

In [72]:
a = 1
def vartest(a):
    a =a + 1
vartest(a)
print(a)

1

In [76]:
add = lambda a,b : a+b   # def은 return이 있다
result = add(3,4)
print(result)

7

In [77]:
a = input()

안녕하세요

In [78]:
a = input("숫자 입력 : ")

숫자 입력 : 3

In [80]:
f = open("새파일.txt","w")  # w : 쓰기, r : 읽기, a : 추가 (마지막에 새로운 내용을 추가)
f.close()

In [5]:
f = open("/Users/gim-yongbeom/jupyter(practice)/day2/새파일.txt","r")
line = f.readline()
print(line)
f.close()

1번줄 입니다!

In [6]:
f = open("/Users/gim-yongbeom/jupyter(practice)/day2/새파일.txt", "r")
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

1번줄 입니다!

2번줄 입니다!

In [7]:
f = open("/Users/gim-yongbeom/jupyter(practice)/day2/새파일.txt", "r")
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번줄 입니다!

2번줄 입니다!

In [8]:
f = open("/Users/gim-yongbeom/jupyter(practice)/day2/새파일.txt", "r")
data = f.read()
print(data)
f.close()

1번줄 입니다!
2번줄 입니다!

In [91]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

In [92]:
a = FourCal()
a.setdata(4,2)

In [93]:
print(a.first)

4

In [94]:
print(a.second)

2

In [96]:
a = FourCal()
b = FourCal()

In [97]:
a.setdata(4,2)
print(a.first)

4

In [98]:
b.setdata(3,7)
print(b.first)

3

In [99]:
id(a.first)

4303239616

In [100]:
id(b.first)

4303239584

In [105]:
class FourCal:
    def setdata(self,first,second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
a = FourCal()
a.setdata(4,2)
print(a.add())

6

In [107]:
class FourCal:
    def setdata(self,first,second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first/self.second
        return result
a = FourCal()
b = FourCal()
a.setdata(4,2)
b.setdata(3,8)
a.add()

6

In [108]:
a.mul()

8

In [109]:
a.sub()

2

In [110]:
a.div()

2.0

In [111]:
b.add()

11

In [112]:
b.mul()

24

In [113]:
b.sub()

-5

In [114]:
b.div()

0.375

In [116]:
class FourCal:
    def __init__(self,first,second):
        self.first = first
        self.second = second
    def setdata(self,first,second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first/self.second
        return result

In [2]:
import mod1  # 모듈로 불러오기
print(mod1.add(3,4))

7

In [3]:
from mod1 import add  # 모듈 이름 없이 함수만 쓰고 싶은 경우
add(3,4)

7

In [10]:
from mod1 import *  # 함수 전부 불러오기
add(3,4)

7

In [13]:
from mod1 import *  # 함수 전부 불러오기
# if __name__ == "__main__":
#     print(add(1,4))
#     print(sub(4,2))

In [24]:
import mod2
result = mod2.add(3,4)
print(result)

7